<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="productHeading text-center">
          <h2 class="mb-3">Exclusive Products</h2>
          <ul class="list-unstyled d-flex   justify-content-center ">
            <li><a href="#" class=" m-4  text-decoration-none text-danger fw-semibold  ">New Arrival</a></li>
            <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black">Best Sellers</a></li>
            <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black">Featured</a></li>
            <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black ">Special Offer</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="row mt-3">
          <div class="col-lg-3 pt-1" *ngFor="let product of productList | filter:searchValue:'name'">
            <div class="box-shadow">
              <div class="card" style="width: 275px;">
                <a [routerLink]="['/details',product.id]">
                  <img class="img-fluid" style="height: 200px;" [src]="product.image" class="card-img-top"
                    alt="..."></a>
                <div class="card-body">
                  <a [routerLink]="['/details',product.id]">
                    <h5 class="card-title">{{product.name}}</h5>
                  </a>
                  <p class="card-text"><span class="text-danger fw-semibold me-2">${{product.discountPrice}}</span><del>
                      ${{product.originalPrice}}</del>
                    <span class="text-success ms-2">35% Off</span>
                  </p>
                  <p class="description">{{product.description}}</p>
                  <div class="row">
                    <div class="col-6">
                      <i class="fa-solid fa-star-half-stroke  m-0" style="color: #f1f50f;"></i>
                      <span class="text-muted">(21)</span>
                    </div>
                    <div class="col-6 text-end">
                      <button class="btn btn-sm btn-success" (click)="addToCart(product)"> Add To Cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
