<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="login-form">
    <form #frm= "ngForm" (submit)="login(frm.value)">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input ngModel name="email" type="email" placeholder="Email" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type="password" ngModel name="password" placeholder="Password" autocomplete="new-password">
        </div>
        <a href="#" class="link">Forgot Your Password?</a>
      </div>
      <div class="action">
        <button (click)="navigatePage()">Register</button>
        <button>Sign in</button>
      </div>
    </form>
  </div>
</body>
</html>
